<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Pharamacon Proof of Competency</title>

    <link rel="stylesheet" type="text/css" href="public/stylesheets/index.css">
</head>
<body>
<div id="app">
    <form class="vue-form" @submit.prevent="submit">

        <fieldset>
            <div>
                <label class="label">Press the button and be recorded in the database.</label>
                <input type="submit" value="Record my button press!">
            </div>
        </fieldset>

        <div v-if="totalClicks > 0" class="info">
            <div v-if="saving">
                <p>Recording your button press...</p>
            </div>
            <div v-else>
                <p>You have pressed the button {{totalClicks}} <span v-if="totalClicks == 1">time</span><span v-else>times</span>.</p>
                <p><a href="http://pharmabase.dnsfor.me">Click here to login to the database.</a></p>
            </div>
        </div>
    </form>
</div>

<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.js"></script>
<script type="text/javascript" src="public/index.js"></script>
</body>